font-face {
    font-family: 'rawline';
	src:url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu-Bold.eot')format('eot');
        src: url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu-Bold.svg') format('svg'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu-Bold.ttf') format('ttf'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu-Bold.woff') format('woff'),
	 url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu.eot') format('eot'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu.svg') format('svg'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu.ttf') format('ttf'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/Pyidaungsu.woff2') format('woff2'),
	 url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/PyidaungsuNumbers.eot') format('eot'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/PyidaungsuNumbers.svg') format('svg'),
         url('hhttps://raw.githubusercontent.com/MMFCM/myfont/blob/master/PyidaungsuNumbers.ttf') format('ttf'),
         url('https://raw.githubusercontent.com/MMFCM/myfont/blob/master/PyidaungsuNumbers.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
